.footer {
  color: $color-text-white;
  max-width: 1600px;
  min-height: 240px;
  background: #010423;
}
.footer__contacts {
  padding: 50px 0 51px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__hr {
  max-width: 1600px;
  height: 2px;
  background: $color-text-white;
  stroke: #fff;
  opacity: 0.3;
}
.footer__copyright {
  padding-top: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.copyright__text {
  color: $color-text-white;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
}
.copyright__text1 {
  color: $color-btn;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
}
.footer__copyright {
  p {
    span {
      color: $color-btn;
      font-style: normal;
      font-weight: 300;
      line-height: 130%;
    }
  }
}
#upbutton {
  background: url('/img/up_icon.png') no-repeat top left;
  height: 60px;
  width: 60px;
  bottom: 30px;
  right: 10%;
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 999;
}
