.header {
  color: $color-text-white;
  max-width: 1600px;
  min-height: 900px;
  background: url(./../img/background.png);
}
.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 162px;
}
.nav__list-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__item-vk {
  margin-right: -10px;
}
.nav__item-ut {
  z-index: 2;
  margin-right: -10px;
}
.nav__item-tg {
  z-index: 3;
  margin-right: 20px;
}
.header__info {
  display: flex;
  flex-direction: row;
  padding-bottom: 212px;
}
.header__info-block {
  max-width: 617px;
}
.header__title {
  padding-bottom: 36px;
}
.header__content {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 28.8px */
}
.header__button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 56px;
}
.header__btn1 {
  max-width: 260px;
  display: flex;
  height: 70px;
  padding: 20px 34px 21px 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: linear-gradient(276deg, #210c51 8.77%, #9166f0 85.8%);
  transition: color 0.2s ease-in;
  &:hover {
    background: linear-gradient(276deg, #9166f0 8.77%, #210c51 85.8%);
  }
}
.header__btn2 {
  max-width: 260px;
  display: flex;
  height: 70px;
  padding: 20px 49px 21px 49px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  color: $color-btn;
  border: 1px solid #9166f0;
  transition: color 0.2s ease-in;
  &:hover {
    background: linear-gradient(276deg, #210c51 8.77%, #9166f0 85.8%);
    color: $color-text-white;
    border: none;
  }
}
.btn__text1 {
  color: $color-text-white;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.btn__text2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.header__animation-text {
  color: #3d3648;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.48px;
}
.header__animation {
  max-width: 100%;
  overflow: hidden;
}
.header__animation div {
  display: flex;
  width: 200%;
  animation: header__animation 9s linear infinite;
}
.header__animation p {
  white-space: nowrap;
  width: 100%;
}
@keyframes header__animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
