.header {
  color: $color-text-white;
  max-width: 1600px;
  min-height: 900px;
  background: url(./../img/background.png);
}
.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 162px;
}
.nav__list-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__item-vk {
  margin-right: -10px;
}
.nav__item-ut {
  z-index: 2;
  margin-right: -10px;
}
.nav__item-tg {
  z-index: 3;
  margin-right: 20px;
}
.header__info {
  display: flex;
  flex-direction: row;
  padding-bottom: 212px;
}
.header__info-block {
  min-width: 617px;
}
.header__title {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 65px */
  text-transform: uppercase;
  padding-bottom: 36px;
}
.header__content {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 28.8px */
}
