@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&family=Ubuntu:wght@300;400;500;700&display=swap');
body {
  font-family: $font-main;
  color: $color-text;
  font-size: 16px;
}
.container {
  padding: 0 15px;
  max-width: 1320px;
  margin: 0 auto;
}
a {
  color: $color-text-white;
  transition: color 0.2s ease-in;
  &:hover {
    color: $color-btn;
  }
}
h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 65px */
  text-transform: uppercase;
}
section {
  max-width: 1600px;
}
input,
textarea {
  border-radius: 10px;
  border: 1px solid #9166f0;
}
